.oddsTable {
  border: 2px solid black;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.battling {
  /* border: 2px solid black; */
  margin: 5px;
  flex: 30%;
  max-width: 400px;
}

.breeding {
  /* border: 2px solid black; */
  margin: 5px;
  flex: 30%;
  max-width: 400px;
}

.lament {
  /* border: 2px solid black; */
  margin: 5px;
  flex: 30%;
  max-width: 400px;
}