.home {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.main {
flex: 60%;
max-width: 1050px;
}

.intro {

}

.feed {
  border-top: 2px solid black;
  text-align: center;
}

.resources {
  max-width: 475px;
  border-left: 2px solid black;
  margin: 5px;
  padding: 5px;
  flex: 15%;
  text-align: center;
}