.block {
  margin: 5px;
  border: 1px solid black;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  justify-content: center;
}

.breeding {
  margin: 5px;
}
.number {
  margin: 5px;
}
.caught {
  margin: 5px;
}

.text {

}

.numberEntry {
  max-width: 55px;
}